div#camera-dialog {
  display:block;
  position: absolute;
  background-color: #111;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
}

div#camera-dialog.hidden {
  display: none;
}

video#camera-element {
  background-color: #333;
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#camera-control {
  position: absolute;
  min-height: 200px;
  width: 100vw;
  bottom: 0;
  background-color: #00000055;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

div#camera-control>input {
  width: 48px;
  height: 48px;
  background-color: #3388FFCC;
  border-radius: 25%;
  border: 4px solid #3388FFFF;
  padding: 4px;
}

div#camera-control>input:disabled {
  filter: opacity(0.50);
}
